.posts .col {
    padding-top: 70px;
}
.posts .card{
    border: 3.5px dotted #FF5C00;
    border-radius: 0;
    padding-bottom: 30px;
    transition: 0.3s;
}
.posts .card:hover {
    border: 3.5px solid #FF5C00;
}
.posts img {
    width: 99%;
    margin: 0 auto;
}
.title {
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 57px;  
    text-align: center;
    color: #FF5C00;
    text-transform: uppercase;
}
.text {
    font-style: normal;
    font-weight: 275;
    font-size: 24px;
    line-height: 36px;
    text-align: center;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.posts .btn {
    background: #168F2E;
    font-style: normal;
    font-weight: 275;
    font-size: 26px;
    line-height: 39px;
    width: 70%;
    border: unset;
    border-radius: 0;
    margin:0 auto;  
    transition: 0.3s; 
    /* margin-bottom: 50px;  */
}
.posts .btn:hover {
    background: #168F2E;
    opacity: 0.8;
}
.edit_button, .delete_button{
    position: absolute;
    bottom: 45px;
    color: #FF5C00!important;
    font-size: 24px!important;
}
.edit_button{ 
    right: 25px;    
}
.delete_button{
    right: 0;   
}
